.barraLateral {
  display: grid;
  grid-template-columns: 500px;
  /* grid-template-rows: auto; */
  /* podemos poner auto en lugar de los px de las columnas para ajustar el texto. si en columnas ponemos 1fr para cada una nos ocupará toda la página */
  gap: 0.5em;
  justify-items: auto;
  align-items: center;
  padding: 0px;
  margin: 10px;
  margin-right: 40px;
  flex-wrap: "wrap";
}
.barraLateral > div {
  background: transparent;
  padding: 1 em;
}

.barraLateral .Reloj {
  display: flex;
  gap: 0.5;
  font-family: sans-serif;
  text-align: center;
  justify-items: stretch;
  align-items: stretch;
}
.barraLateral.FechaActual {
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  color: black;
}
.barraLateral.CardAdministrador {
  font-family: sans-serif;
  text-align: center;
  /* justify-items: right;
  align-items: right; */
}
.botonLlamar {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  border: 2px;
  border-radius: 20%;
  background-color: red;
  color: white;
  padding: 8px 16px;
}
