.barraLateral {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 200px 50px 150px 200px;
  /* podemos poner auto en lugar de los px de las columnas para ajustar el texto. si en columnas ponemos 1fr para cada una nos ocupará toda la página */
  gap: 1em;
  justify-items: stretch;
  align-items: stretch;
  background: rgb(97, 141, 97);
  padding: 6%;
  margin: 0;
}
.barraLateral > div {
  background: transparent;
  padding: 1 em;
}
.barraLateral > div:hover {
  border: 2px solid red;
}
.barraLateral .Reloj {
  font-family: sans-serif;
  text-align: center;
  justify-items: stretch;
  align-items: stretch;
  border-radius: 50%;
  border-color: #333;
  border-style: double;
}
.barraLateral.FechaActual {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #333;
}
.barraLateral.CardAdministrador {
  font-family: sans-serif;
  text-align: center;
  justify-items: stretch;
  align-items: stretch;
}
