/* .Carousel{
        position: 'absolute' , 
        pantalla: 'bloque' , 
        zIndex: - 2 , 
        minHeight: '100%' , 
        opacidad: 0 , 
        arriba: 0 , 
        derecha: 0 , 
        izquierda: 0 , 
        abajo: 0 , 
        TransitionTimingFunction: 2 ,
        msTransitionTimingFunction: 2 , 
        MozTransitionTimingFunction: 2 , 
        WebkitTransitionTimingFunction: 2, 
        OTransitionTimingFunction: 2 
}  */
/* 
.Carousel_caption{
    top:0,
    botton:0,
    left:0,
    widht:50%
    display:flex,
    flexdirection:column,
    justify contente:center,
    aling-items:flex-start,
    text-aling:left
    background:linear-gradient
} */

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 360px;
}

.carousel-item {
  position: absolute;
  top: 150px;
  left: 0;
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.imagen-contenedor {
  display: flex;
  align-items: center;
  /* justify-content:; */
  height: 350px; /* altura fija para el contenedor */
}

.imagen-contenedor img {
  max-height: 90%; /* la imagen se ajusta al alto máximo del contenedor */
  max-width: 90%; /* la imagen se ajusta al ancho máximo del contenedor */
  object-fit: contain; /* para evitar que la imagen se corte */
  margin: 0 auto; /* centra la imagen horizontalmente */
  height: auto;
}

.imagen-contenedor .legend {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: bold;
  background: black;
  border: 1px;
  outline: none;
  cursor: pointer;
}

.carousel-button-prev {
  left: 12px;
}

.carousel-button-next {
  right: 12px;
}
/* 
renderarrowprev: (clickHandler: () => void, hasPrev: boolean, label: string) =>
  React.ReactNode;
renderarrownext: (clickHandler: () => void, hasNext: boolean, label: string) =>
  React.ReactNode; */
