.Reloj {
  font-family: sans-serif;
  text-align: center;
  justify-items: stretch;
  align-items: stretch;
}
.relojAnalogico {
  border-radius: 3px solid;
  justify-items: stretch;
  align-items: stretch;
  text-align: center;
}
