.tabla-administrador {
  display: block;
  justify-content: center;
  margin-top: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: transparent;
}

th,
td {
  text-align: center;
  padding: 8px;
  color: black;
}

th {
  background-color: #ddd;
  font-weight: bolder;
  font-size: larger;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.agregar,
.editar,
.borrar {
  border-style: double;
  border-color: black;
  border-radius: 10%;
  background-color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}

.agregar:hover,
.borrar:hover,
.editar:hover {
  color: #666;
}

form label,
form input {
  display: block;
  margin-bottom: 10px; /* para agregar un poco de espacio entre cada label y input */
  font-size: larger;
  font-weight: bolder;
  font-weight: 3px;
}
