.tabla-administrador {
  display: block;
  justify-content: center;
  margin-top: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: transparent;
}

th,
td {
  text-align: center;
  padding: 8px;
  color: black;
}

th {
  background-color: rgb(115, 54, 168);
  font-weight: bolder;
  font-size: 24px;
}

td {
  font-size: 16px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

.agregar,
.editar,
.borrar,
.salir {
  border-style: double;
  border-color: black;
  border-radius: 10%;
  background-color: rgb(115, 54, 168);
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}
.salir {
  font-size: 32px;
  position: fixed;
  bottom: 16px;
  right: 20px;
  padding: 10px 20px;
}

.agregar:hover,
.borrar:hover,
.editar:hover,
.salir:hover {
  color: white;
}

form label,
form input {
  display: block;
  margin-bottom: 3px; /* para agregar un poco de espacio entre cada label y input */
}
form label {
  font-size: 16px;
  font-weight: bolder;
  font-weight: 3px;
}

form input {
  font-size: 8px;
  font-weight: bol;
  font-weight: 3px;
}
