.botonera {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* podemos poner auto en lugar de los px de las columnas para ajustar el texto. si en columnas ponemos 1fr para cada una nos ocupará toda la página */
  gap: 1em;
  justify-items: stretch;
  align-items: stretch;
  background: rgb(113, 113, 151);
}

.botonera > div {
  background: white;
  padding: 1 em;
}
.botonera > div:hover {
  border: 2px solid red;
}
