.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 20px;
}

.header__img {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  border-style: double;
  margin-right: 20px;
}

.header__title {
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}
