.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 20px;
}

.header__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-style: double;
  margin-right: 20px;
}

.botonTitulo {
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  text-decoration: solid;
  color: white;
  margin: 0;
  border: none;
  background: transparent;
  padding: 0;
}
