/* const StyledTable = styled.table`
  border-collapse: collapse;
  width: 100%;
`;

const StyledTableRow = styled.tr`
  border: 1px solid #ddd;
  padding: 8px;
`;

const StyledTableHeader = styled.th`
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  padding: 8px;
`;

const StyledTableCell = styled.td`
  border: 1px solid #ddd;
  padding: 8px;
`; */
.tablaPastillero th td {
  border: 1px solid;
  width: 100%;
  text-align: center;
}
th {
  height: 70px;
  background-color: aqua;
}
th,
td {
  padding: 15px;
  background-color: ;
}
tr:hover {
  background-color: coral;
}
